/** * {
    border: 1px solid red !important;
} **/
body {
    font-family: 'Lato', sans-serif;
    color: #747704;
    font-weight: 300;
}
.container{
    max-width: 970px;
}
.picsize {
    width: 100%;
    height: 100%;
}
hr {
    border: none;
    height: 5px;
    margin-bottom: 30px;
    background-color: #BCBBBB;
}
.works{
    margin-bottom: 10px;
}
.text-muted {
    color: #BCBBBB;
}
.text-thin {
    font-weight: 100;
}
.title-super {
    font-size: 50px;
}
.title-logo{
    margin-top: 20px;
}
a:link, a:active, a:hover {
    color: #BCBBBB;
}
@media screen and (max-width: 800px) {
    .title-super {
        font-size: 30px;;
    }
    .title-logo{
        zoom: 60%;
    }
}
@media screen and (max-width: 490px){
    .naddjust {
        display: block;
        margin-right: auto;
        margin-left: auto;
        width: 100%;
        text-align: center;
    }
    .remove {
        display: none;
    }
}
/**
@media screen and (max-width: 300px){
    .naddjust {
        position: relative;
    }
    .remove {
        display: none;
    }
}
**/